# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.env

# Snowflake
snowflake/*.csv
snowflake/*.xlsx

# Power BI
*.TempSave
*.Backup
~$*

# Python
__pycache__/
*.pyc
.venv/
env/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Secrets
.env
profiles.yml
!dbt_project/profiles.yml
